.movie-card
  width: 100%
  background: rgba(#5BC3CD, .1)
  border-radius: 3px
  overflow: hidden
  &__photo
    position: relative 
    width: 100%
    overflow: hidden
    &-ratio
      padding-top: 56%
    img
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
  &__info
    padding: 14px 11px 11px 11px
    h5
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 16px
      color: #C8C841
      white-space: nowrap
      overflow: hidden 
      text-overflow: ellipsis

    span
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 11px
      color: #C4C4C4